<ul class="list-group">
    <li  routerLink="/products" [class]="getAllCategoryClass()"(click)="setCurrentCategoryNull()">Tüm Ürünler</li><!--buraya yazdığım [class] ve (click)sayesinde diğer ürünlere basıldığında tüm ürünlere gelice mavi olucak--> 
    <li (click)="setCurrentCategory(category)" 
     routerLink="/products/category/{{category.categoryId}}"

    *ngFor="let category of categories" 
    [class]="getCurrentCategoryClass(category)">{{category.categoryName}}</li>
   <!--(click category getirme)-->
  </ul>
<h5 *ngIf="currentCategory">{{currentCategory.categoryName}} seçtiniz</h5>
<!--açıldığı anda getirir 90.dk -->